# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.Python

# Environments
.venv/
venv/
ENV/
env/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Temporary files
*.tmp
*.log
